label {
    display: grid !important;
    margin-bottom: 0.5rem;
  }
  

  .tabList{
   display: flex;
   justify-content: center;
   list-style: none;
  }
  .signInTab{
    margin-right: 30px;
  border: none;
  border-bottom: 2px solid white;
  /* background-color: white; */
  
  
  }
  .nosignIntab{
    margin-right: 30px;
    border: none;
    /* border-bottom: 2px solid yellow; */
  }
  .for-white-clr{
  color: cornsilk;
  }
  
  .login-btn:hover, .signup-btn:hover{
    color: rgb(204, 204, 246) !important;
  }